/* Base CSS */

@font-face {
    font-family: 'Baloo Bhai', cursive;
    font-style: normal;
    font-weight: 700;
    src: url(href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet")
}

::selection {
    color: #fff;
    background: black;
}

a:focus {
    outline: 0 solid none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.fix {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

@keyframes animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    margin: 0;
    text-align: center;
    animation: animate 2s ease-in-out 1;
    opacity: 1;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;
}

a:hover {
    text-decoration: none
}

:root {
    --clr-text: #3d3d3d;
    --clr-primary: #067E0A;
    --clr-accent: #764981;
    --ff-logo: 'Baloo Bhai', cursive;
    --ff-title: 'Bad Script', cursive;
    --ff-serif: 'Stylish', sans-serif;
}

html {
    box-sizing: border-box;
    font-family: var(--ff-serif);
    color: var(--clr-text);
    font-size: 1.125em;
}

h2,
h3 {
    font-family: var(--ff-title);
    line-height: 1;
}

p {
    font-family: var(--ff-serif);
}

h2 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0 5px;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    color: var(--clr-primary);
    font-family: var(--ff-logo);
    position: relative;
}

nav a::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    transform: scale(0, 1);
    transform-origin: right;
    transition: transform .2s ease-in-out;
    background-color: var(--clr-primary);
}

nav a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    width: 0%;
    transition: width .2s ease-in-out;
    background-color: var(--clr-primary);
}

nav a:hover {
    color: var(--clr-accent);
}

nav li:hover ::before {
    transform: scale(1, 1);
}

nav li:hover ::after {
    width: 100%;
    color: var(--clr-accent);
}

.logo {
    font-family: 'Bad Script', cursive;
    text-decoration: none;
    color: black;
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: black;
}

section {
    padding: 3em 1em;
}

header {
    padding: 1em 0 2em;
}

.hero {
    background-color: #333;
    background-image: url("https://www.wismettac.com/en/business/trade/main/0/teaserItems1/0/binaryNodeName/aspt_m.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
    padding: 15vh 0;
    color: #fff;
    text-align: center;
}

.hero h2 {
    line-height: 1.5 !important;
}

.intro {
    text-align: center;
}

.text-primary {
    color: var(--clr-primary);
}

.about-us {
    background-color: var(--clr-accent);
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0;
}

.about-us-intro {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3em 1em;
    background-color: grey;
    background-blend-mode: multiply;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSu6xmygo6ccHmHgKoeOhUWsULkPJ251kEspCOdNYZCsDPnBLbW");
}

.about-us-body {
    padding: 3em 1em;
}

.btn {
    padding: .75em 2.5em;
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 0.5em 0;
    border-radius: 0.35em;
}

.btn:hover {
    outline: 3px dashed #fff;
    outline-offset: -10px;
    transition: outline-offset .2s ease-in-out;
}

.btn-primary {
    background-color: var(--clr-primary);
}

.btn-group {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.product-showcase {
    margin-bottom: 0;
    padding-bottom: 0;
}

.order-online {
    background: #f0f0f0;
}

.products {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    margin: 0 auto;
}

.product {
    background: #f0f0f0;
    margin-bottom: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0, 1);
}

.box {
    position: relative;
}

.box::before {
    content: "";
    height: 70px;
    width: 70px;
    position: absolute;
    left: -8px;
    top: -8px;
    background: var(--clr-primary);
    z-index: -1;
}

.box-last {
    position: relative;
}

.box-last::after {
    content: "";
    height: 70px;
    width: 70px;
    position: absolute;
    right: -8px;
    bottom: -8px;
    background: var(--clr-primary);
    z-index: -1;
}

.or-order {
    padding: 1em 0;
}

.product-title {
    color: var(--clr-primary);
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.product p,
.product h3 {
    padding: 1em;
}

.btn-accent {
    background-color: var(--clr-accent);
}

.btn-accent:hover {
    background-color: var(--clr-primary);
}

.btn-primary:hover {
    background-color: var(--clr-accent);
}

footer {
    background: var(--clr-accent);
    padding: 3em 1em;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer a {
    color: inherit;
}

.footer-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav ul {}

.footer-nav li a {
    text-align: center;
    padding-bottom: 10px !important;
    color: #fff !important;
    text-decoration: none;
}

.footer-nav li a:hover {
    text-decoration: underline;
}

.footer-social li {
    list-style: none;
}

.social-icon {
    max-width: 50px;
    padding: 1em;
}

.footer-social {
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 2em;
    justify-content: center;
}

.image-hover {
    height: 280px;
    width: 100%;
    position: relative;
}

.image-hover img {
    height: 100%;
    width: 100%;
}

.product:hover .hover-on-order {
    transform: scale(1, 1);
}

.hover-on-order {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #fff;
    transform: scale(0, 1);
    transition: transform .2s ease-in-out;
}

.hover-on-order:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: black;
    opacity: .6;
}

.hover-on-order>* {
    z-index: 999;
}

.hover-on-order h3 {
    font-size: 30px;
    position: relative;
    cursor: pointer;
}

.hover-on-order h3::before {
    display: inline-block;
    content: "";
    width: 100%;
    height: 3px;
    left: 0;
    top: 0;
    transform: scale(0, 1);
    transform-origin: left;
    background-color: #16A086;
    position: absolute;
    transition: transform .3s ease-in-out;
}

.product:hover ::before {
    transform: scale(1, 1);
}

.product:hover ::after {
    transform: scale(1, 1);
}

.hover-on-order h3::after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    transform: scale(0, 1);
    transform-origin: right;
    background-color: #16A086;
    position: absolute;
    transition: transform .3s ease-in-out;
}

@media only screen and (min-width:750px) {
    section {
        padding: 6em 1em;
    }
    .about-us {
        flex-direction: row;
    }
    .about-us-intro,
    .about-us-body {
        flex: 0 1 50%;
        display: flex;
        padding: 3em 2em;
        flex-direction: column;
        justify-content: center;
    }
    .about-us-intro {
        text-align: right;
        ;
    }
    .about-us-intro>* {
        max-width: 27rem;
        margin-left: auto;
    }
    .about-us-body {
        text-align: left;
    }
    .about-us-body>* {
        max-width: 27;
        margin-right: auto;
    }
    .order-online>* {
        max-width: 70ch;
        margin: 0 auto;
    }
    .btn-group {
        flex-direction: row;
        margin-top: 1em;
    }
    .btn+.btn {
        margin-left: 0.5em;
    }
    .products {
        flex-direction: row;
        max-width: 1200px;
        text-align: left;
    }
    .product {
        margin: 0;
        flex: 0 1 33%;
    }
    .product+.product {
        margin-left: 1em;
    }
    .box::after {
        content: "";
        height: 70px;
        width: 70px;
        position: absolute;
        left: -8px;
        bottom: -8px;
        background: var(--clr-primary);
        z-index: -1;
    }
    .box-last::before {
        content: "";
        height: 70px;
        width: 70px;
        position: absolute;
        right: -8px;
        top: -8px;
        background: var(--clr-primary);
        z-index: -1;
    }
}